<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Reisequiz - Startseite</title>

    <!-- Bootstrap & Icons für Layout & UI-Komponenten Lokal  -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">

    <!-- Zentrales CSS (enthält z. B. .logo-icon, .box-light, .btn-custom) -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Favicon Bezug-->
     <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">

</head>
<body>

    <div class="container">
        <!-- Logo und Titel -->
        <h1>
            <img src="{{ url_for('static', filename='globe-icon.png') }}" alt="Icon" class="logo-icon">
            Reisequiz
        </h1>
        <h2>Errate das Reiseziel</h2>
        <p>Teste dein Reisewissen und entdecke spannende neue Reiseziele.</p>

        <!-- Startbild -->
        <img src="{{ url_for('static', filename='santorini.jpg') }}" alt="Startseiten Bild" class="startbild">

        <!-- Startbutton -->
        <a href="{{ url_for('main.settings') }}">
            <button class="btn-custom">Quiz starten</button>
        </a>

        <!-- Quellenhinweis -->
        <div class="info">
            <i class="bi bi-info-circle-fill"></i> Fragen und Informationen basieren auf den Quellen:<br>
            <strong>Wikipedia</strong>
        </div>

        <!-- Footer -->
        <footer>
            © 2025 Reisequiz Projekt - Niclas Bayer
        </footer>
    </div>

</body>
</html>
